## Задание
Из файла hw_25000.csv, который использовали на занятии, возьмите 20 человек ростом от 170 до 180 сантиметров. Назовём это выборкой из набора данных №2.

Можно ли утверждать, что разница среднего веса людей в исходном файле и среднего веса людей во всем наборе данных №2 статистически значима?

In [37]:
import pandas
import numpy
from scipy import stats

In [12]:
data = pandas.read_csv('hw_25000.csv', delimiter=';', names=['index', 'height_inches', 'weight_pounds'], header=1)
data['height'] = data['height_inches'] * 2.54
data['weight'] = data['weight_pounds'] * 0.453592
data.head()

   index  height_inches  weight_pounds      height     weight
0      1       65.78331       112.9925  167.089607  51.252494
1      2       71.51521       136.4873  181.648633  61.909547
2      3       69.39874       153.0269  176.272800  69.411778
3      4       68.21660       142.3354  173.270164  64.562199
4      5       67.78781       144.2971  172.181037  65.452010

In [47]:
sample_weight = data[(data['height'] >= 170) & (data['height'] <= 180)]['weight'].head(20).tolist()
np.mean(sample_weight), data['weight'].mean()

(60.293312903119997, 57.642208803169588)

## Одновыборочный критерий

In [48]:
stats.ttest_1samp(sample_weight, data['weight'].mean())

Ttest_1sampResult(statistic=2.243843332671001, pvalue=0.03695275215128032)

## Двухвыборочный критерий

In [50]:
stats.ttest_ind(sample_weight, data['weight'])

Ttest_indResult(statistic=2.2406349413640898, pvalue=0.025058470658872095)

## Вывод
В обоих случаях pvalue = **< 0.05**, так что можно утверждать, что различие статистически значимо