In [30]:
import pandas as pd
import numpy as np
mountains = pd.read_csv('Mountains.csv')

In [78]:
parent_mountains = mountains['Parent mountain'].value_counts()
parent_mountains = parent_mountains[parent_mountains > 3].to_frame('count')
parent_mountains

               count
Mount Everest      9
Gasherbrum I       8
Cho Oyu            7
Kangchenjunga      7
Distaghil Sar      5
K2                 5
Shisha Pangma      4
Dhaulagiri         4

In [79]:
parent_mountains.to_csv('Mountains_gt3.csv')